<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Peter Thomas (peterthomas.com) - {{ page.title }}</title>
    <meta name="description" content="Pete Thomas's Homepage" />
    <meta name="keywords" content="Pete Thomas, Peter Thomas, Peter, Pete, Thomas, cycling, bikes, bike, mountain bike, computers, graphics, mountain bikes, mountain biking, Peter Lewis Thomas, peterthomas.com, Nottingham University" />
    <link rel="stylesheet" href="/css/peterthomas2004.css" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link ref="canonical" href="http://www.peterthomas.com{{ page.url | remove: "index.html" }}" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-142559-2']);
      _gaq.push(['_setSiteSpeedSampleRate', 50]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
<body> 
  <div id="wrap"> 
    <div id="banner"> </div> 
    <div id="content"> 
  
    <div class="page">
	
  	<h1>{{ page.title }}</h1> 
 
      {{ content }}
  
    </div>

    </div> 
      <div id="side_links"> 
        
        <div class="sidetitle">Content</div> 
        <div class="side"> 
          <a href="/">Home</a><br/>
      	  <a href="/gallery/">Photos</a><br/> 
      	  <a href="http://www.flickr.com/photos/petethomas">Flickr Photos</a><br/>
          <a href="/mountainbiking/">Mountain Biking</a><br/> 
          <a href="/links/">Links</a><br /> 
      	  <a href="/cv/plt-resume.pdf">CV / Resume</a>
        </div> 
        
        <div class="sidetitle">Quick Links</div> 
        <div class="side">
      		<a href="http://www.nubike.com">NUBike</a><br/> 
        	<a href="http://www.nottingham.ac.uk">University of Nottingham</a><br/> 
        	<a href="http://www.eprg.org">Document Engineering Labs</a><br/>
      	</div> 
    
        <div class="sidetitle">Get in Touch</div> 
        <div class="side">
      		<a href="/contact/">Contact Details</a><br/>
      		<a href="https://plus.google.com/117985215024782153908?rel=author">Google+</a><br/>
        </div> 
        
      </div> 
      <div class="sidebottom"></div>
    </div> 
  </body>
</html>
